html{
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
   user-select: none;  /* Likely future */ 
}

html > *,h1,h2,h3,h4,h5,h6,span,div {
  font-family: 'Montserrat', sans-serif!important;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
}
video{
  object-fit: fill!important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
